<template>
    <c-title-card title={title}>
        <c-stock-table
            stocks={stocks}
            onstockclicked={handleStockClicked}
        ></c-stock-table>
        <lightning-record-view-form
            record-id={selectedStockId}
            object-api-name="Stock__c"
        >
            <lightning-output-field
                field-name="Status__c"
            ></lightning-output-field>
            <lightning-output-field field-name="Name"></lightning-output-field>
            <lightning-output-field
                field-name="Title__c"
            ></lightning-output-field>
        </lightning-record-view-form>
    </c-title-card>
</template>
