<template>
    <div class="slds-grid slds-wrap">
        <template for:each={titles} for:item="title">
            <div
                class="slds-col slds-size_1-of-3 slds-p-right_x-small slds-p-bottom_x-small"
                key={title.Id}
            >
                <c-title-card
                    title={title}
                    ontitleclicked={handleTitleClick}
                ></c-title-card>
            </div>
        </template>
    </div>
</template>
