<template>
    <lightning-card onclick={handleClick} title={title.Name}>
        <div class="slds-p-around_x-small">
            <p>Genre: {title.Genre__c}</p>
            <p>Maturity: {title.Maturity_Rating__c}</p>
        </div>
        <slot></slot>
        <lightning-badge
            slot="footer"
            label={availableStockString}
        ></lightning-badge>
    </lightning-card>
</template>
